{% extends "base.html" %}
{% block title %}Upload BPMN Page{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-center mt-4">
            <h3>Upload BPMN File</h3>
        </div>
        <hr>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="custom-file">
                            <input oninput="filesize(this);" type="file" class="custom-file-input" name="bpmn_file" id="bpmn_file">
                            <label class="custom-file-label" for="bpmn_file">Select BPMN...</label>
                        </div>
                    </div>
                </div>                
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg" id="create-exe-btn">
                        <span id="create-exe-btn-spinner" class="d-none spinner-border spinner-border-sm mr-2"></span>
                        Create Executable File
                    </button>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <div id="status-message"></div>
                </div>
            </div>
        </form>
    </div>     
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#bpmn_file').on('change', function() {
            var fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').html(fileName);
        });

        $('#create-exe-btn').on('click', function(event) {
            event.preventDefault();
            generateSlurmScriptFromFiles();
        });

        function updateResponseMessage(message, isError) {
            var responseMessageDiv = document.getElementById('status-message');
            var newMessage = '<p class="' + (isError ? 'text-danger' : 'text-success') + '">' + message + '</p>';

            if (responseMessageDiv.firstChild) {
                responseMessageDiv.removeChild(responseMessageDiv.firstChild);
            }

            responseMessageDiv.innerHTML = newMessage;

            setTimeout(function () {
                responseMessageDiv.removeChild(responseMessageDiv.firstChild);
            }, 5000);
        }

        function generateSlurmScriptFromFiles() {
            var bpmnFile = $('#bpmn_file')[0].files[0];
            var formData = new FormData();
            formData.append('bpmn_file', bpmnFile);

            $('#create-exe-btn').prop('disabled', true);
            $('#create-exe-btn-spinner').removeClass('d-none');

            $.ajax({
                url: '/generate_slurm_script_from_files',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#create-exe-btn').prop('disabled', false);
                    $('#create-exe-btn-spinner').addClass('d-none');
                    updateResponseMessage(data.msg, false);
                },
                error: function(error) {
                    $('#create-exe-btn').prop('disabled', false);
                    $('#create-exe-btn-spinner').addClass('d-none');
                    var errorResponse = JSON.parse(error.responseText);
                    updateResponseMessage(errorResponse.error, true);
                }
            });
        }
    });

    function filesize(elem) {
        document.cookie = `filesize=${elem.files[0].size}`;
    }
</script>
{% endblock %}
